.balance-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5vh;
}

.balance-current-balance {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vh;
}